#box-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#box-gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.gallery {
    display: flex;
    gap: 7px;
    margin-bottom: 7px;
}
.gallery img:hover {
    opacity: 0.8;
}
@media (max-width: 800px) {
    .gallery {
        flex-direction: column;
    }
}
