* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(data/BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#container {
    background-color: #5a5a5a;
}
.box-top {
    border-radius: 2pc;
}
#report-button {
    background-color: white;
    border-color: #5a5a5a;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
}
.linea{
    position: absolute;
    width: 28vw;
    height: 15px;
    margin-left: 35vw;
    background-color: black;
    border-radius: 5px;
}
#perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: rgb(128, 160, 79);
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    margin-top: 30px;
    position: absolute;
}
.bottom{
    background-color: white;
    height: 100%;
    width: 28vw;
    margin-left: 35vw;
    border-radius: 2vw;
}

#report{
    width: 35px;
    height: 35px;
    position: absolute;
    margin-top: 1px;
    right: 0;
    display: inline-flex;
}
.nav{
    position: absolute;
    right: 0;
    margin-right: 3vw;
    margin-top: 24vw;
    display: flex;
    flex-direction: row;
    gap: 3vw; 
}
#but{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    flex-direction: row;
}
.pancito{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.pancito h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-top: 150px;
}
.pancito p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: inline-flex;
    position: absolute;
    margin-top: 30%;
    margin-left: 39%;
}
.seguir{
    display: inline-flex;
    position: absolute;
    margin-top: 189px;
    margin-right: 100px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 80px;
    background-color: rgb(128, 160, 79);
    color: #79f884;
    border-radius: 5px;
    border-color: #00bf63;
}
.comentar{
    display: flex;
    position: absolute;
    margin-top: 189px;
    margin-right: 10px;
    margin-left: 105px;
    height: 30px;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-color: #5a5a5a;
}
#but:hover{
    opacity: 0.5;
}
.hidden{
    display: none;
}
