#box-fav h2{
    font-size: 2em;
    margin: 10px;
    text-align: center;
}
#box-fav #image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
    margin: 10px;
}